[submodule "vendor/phpunit"]
	path = vendor/phpunit
	url = git://github.com/sebastianbergmann/phpunit
[submodule "vendor/php-code-coverage"]
	path = vendor/php-code-coverage
	url = git://github.com/sebastianbergmann/php-code-coverage
[submodule "vendor/php-file-iterator"]
	path = vendor/php-file-iterator
	url = git://github.com/sebastianbergmann/php-file-iterator
[submodule "vendor/php-text-template"]
	path = vendor/php-text-template
	url = git://github.com/sebastianbergmann/php-text-template
[submodule "vendor/php-token-stream"]
	path = vendor/php-token-stream
	url = git://github.com/sebastianbergmann/php-token-stream
[submodule "vendor/dbunit"]
	path = vendor/dbunit
	url = git://github.com/sebastianbergmann/dbunit
[submodule "vendor/phpunit-mock-objects"]
	path = vendor/phpunit-mock-objects
	url = git://github.com/sebastianbergmann/phpunit-mock-objects
[submodule "vendor/php-invoker"]
	path = vendor/php-invoker
	url = git://github.com/sebastianbergmann/php-invoker
[submodule "vendor/php-timer"]
	path = vendor/php-timer
	url = git://github.com/sebastianbergmann/php-timer
[submodule "vendor/phpunit-story"]
	path = vendor/phpunit-story
	url = git://github.com/sebastianbergmann/phpunit-story
